/* IC4VC Dark Theme                                             */
/*                                                              */
/* Font Color                   #FFFFFF                         */
/* Page Background              #101010                         */
/* Box Header Background        #1D1D1D                         */
/* Box Background               #282828                         */
/* Box Top Border               #323232                         */
/* Box Bottom Border            #1C1C1C                         */
/* Footer Background            #1D1D1D                         */
/* Link Color                   #0AB9EF                         */
/* Table Header Text            #9CF39F                         */
/*                                                              */



body, html
{
   /* color: #000000;*/
   /* background-color: #FFFFFF;*/
   /* font-family: arial;   */
   /* font-size: 10px;*/
}

#container
{

}

#header
{     
    /*border: 1px solid red;*/
    background-color: #dbdbdb;
    filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#dbdbdb',startColorstr='#f9f9f9',gradientType='0')progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg.gif');
    /*border: 0px 0px 1px 0px solid black;*/
    border-bottom: 1px solid #dbdbdb;
}

#header-left
{
}

.title
{    
    color: #000000;
    font-size: 20px;   
    font-weight: bold;
}

#header-right
{

}

#logo
{        
}

#search
{
    background: #282828;
}

#contents
{    
    
}

.box
{    
    /*color: #FFFFFF;
    background: #282828;         */
}

.box_header
{    
    cursor: move;
    background: #ebf3fa;
    color: #000000;
    /*font-weight: bold;    */
    
}

.box_line
{
    border-top: 1px solid #323232;
    border-bottom: 1px solid #1C1C1C;
    padding: 10px;    
}

.bigbox
{    
    /*color: #FFFFFF;
    background: #282828;         */
}

.bigbox_header
{    
    /*background: #1D1D1D;    
    color: #FFFFFF;
    font-weight: bold;    */
        
}

.bigbox_line
{
    border-top: 1px solid #323232;
    border-bottom: 1px solid #1C1C1C;
    padding: 10px;    
}

#footer
{
    /*background: #1D1D1D;*/
    background-color: #dbdbdb;
    filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#dbdbdb',startColorstr='#f9f9f9',gradientType='0')progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg.gif');
    /*border: 0px 0px 1px 0px solid black;*/
    border-top: 1px solid #dbdbdb;
    border-left: 0px solid #dbdbdb;
    border-right: 0px solid #dbdbdb;
    
    border-bottom: 0px solid #dbdbdb;
    color: #000000
}

#footer-contents
{
	
}

#footer-right
{

}

.footer-text
{
    /*color: #FFFFFF;*/
}

.username
{
    /*color: #9CF39F;*/
}

th
{    
    color: #2e83ff;   
}

ul
{
    margin: 0px;
    list-style-type: none;
}

ul.arrow {
    list-style-image: url("../images/bullet.png");
    /*margin: 10px 5px 10px 0;
    padding: 0 0 0 10px;*/
}

a 
{
    color: #0060BF;
    font-weight: normal;
    text-decoration: none;
}

a:hover 
{    
    text-decoration: underline;
}

#drawing
{
    background: #FFFFFF;
    padding: 20px;
}

.ui-jqgrid tr.ui-row-ltr td {border-right-color: #ebf3fa;}

div.tasks_icon
{
    background-image: url('/static/img/icons/tasks_black.png');
    float:left;
    width:15px;
    height:16px;
    background-repeat: no-repeat;
}

div.settings_icon
{
    margin-top:5px;
    float:left;
    background-image: url('/static/img/icons/gear_large_black.png');
    width:15px;
    height:15px;
}

div.divider_icon
{
    float:left;
    background-image: url('/static/img/icons/divider_black.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height:32px;
    margin-top: -5px;
}

div.help_icon
{
    margin-top:5px;
    float:left;
    background-image: url('/static/img/icons/help_black.png');
    width:10px;
    height:14px;
}

div.hp_logo
{
    margin-top:2px;
    margin-left: 20px;
    float:left;
    background-image: url('/static/img/hp_logo_blue_24.png');
    width:24px;
    height:24px;
}
.refresh_icon 
{ 
	width: 16px; 
    height: 16px;   
    background-position: center;
    background-repeat: no-repeat;    
	background-image: url(images/black_refresh.png)
}
